################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/LMS5_Project_10/v17
/.vs/LMS5_Project_10/FileContentIndex
/.vs
/Project_10/Project_10/.vs/Project_10
/Project_10/Project_10/Project_10/obj
/Project_10/Project_10/Project_10/bin/Debug/net8.0-windows
/Project_10/Project_10/.vs/ProjectEvaluation
/P_10_Python/.vs
/P_10_Python/DD_client_test/.vs/DD_client_test/DesignTimeBuild
/P_10_Python/DD_client_test/.vs/DD_client_test
/P_10_Python/DD_client_test/DD_client_test/obj/Debug/net8.0
/P_10_Python/DD_client_test/DD_client_test/obj
/P_10_Python/DD_client_test/DD_client_test/bin/Debug/net8.0
/.idea/inspectionProfiles
/.idea
